.Header {
  background-color: rgb(215, 88, 81);
  color: rgb(21, 15, 15);
  padding: 15px;
  font-size: 2em;
  text-align: center;
}

.Footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(215, 88, 81);
  color: rgb(21, 15, 15);
  padding: 15px;
  font-size: 2em;
}
